/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--color-primary: #FFFFFF;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans';
	font-size: 14px;
}
section {
	margin: 50px 0;
}

/************* LINK ***********/
.link-page {
	text-decoration: none;
	color: black;
}
.link-page:visited {
	color: black;
}
.link-page:hover {
	color: #B1663C;
}

/************* HEADER ***********/
.header-container {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 48px auto 138px auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/************* NAV ***********/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 42px;
}
nav li {
	font-size: 1.2em;
}

.link-logo-insta img {
	width: 19px;
	height: auto;
}

#introduction {
	display: flex;
	align-items: center;
	gap: 4em;
	max-width: 952px;
	margin: 0 auto 138px auto;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 100%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin: 0 auto 0.9em auto;
	color: #3D3D3D;
}
#portfolio {
	max-width: 952px;
	margin: auto;
}
#portfolio h2 {
	text-align: center;
}

/************* FILTERS ***********/
#filters {
	margin-top: 16px;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 32px 0 47px 0;
}

#filters button {
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	padding: 10px 26px;
}

#filters button:hover {
	background-color: #1D6154;
	color: #FFFEF8;
	cursor: pointer;
}

#filters button.active {
	background-color: #1D6154;
	color: #FFFEF8;
}

/************* GALLERY ***********/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.gallery figure figcaption {
	color: #3D3D3D;
}

/************* CONTACT ***********/
#contact {
	max-width: 379px;
	width: 50%;
	margin: 54px auto 0 auto;
}
#contact > * {
	text-align: center;
	color: #3D3D3D;

}
#contact h2{
	margin-bottom: 20px;
	color: #1D6154;
}
#contact form {
	margin: 0 auto;
	text-align: left;
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

#contact input[type="text"],
#contact input[type="email"] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"] {
	height: 36px;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
input[type="submit"]:hover {
	transition: background-color 0.3s ease;
	background-color: #0E2F28;
}

/************* FOOTER ***********/
footer {
	background-color: white;
}
footer nav {
	max-width: 1260px;
	margin: auto;
	padding: 22px 0;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
}
footer .link-page {
	font-size: 14px;
	font-weight: 300;
}


/************* ERROR MESSAGE ***********/
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
}


/************* ADMIN ***********/
/************* BANNER ***********/
.admin-banner {
	display: flex;
	justify-content: center;
	gap: 20px;
	background-color: #000000;
	padding: 1.2rem 0;
	text-align: center;
}
.admin-banner a {
	color: #FFFFFF;
	text-decoration: none;
}
.banner-hover-sync {
	opacity: 0.7;
}

/************* LINK OPEN MODAL ***********/
.portfolio-title-wrapper {
	position: relative;
}
.portfolio-title-wrapper a {
	text-decoration: none;
	color: #000000;
}
.link-container {
	position: absolute;
	left: calc(50% + 80px);
	top: 50%;
	transform: translate(30px, -50%);
	display: flex;
	align-items: center;
	gap: 8px;
}
.portfolio-hover-sync {
	color: #B1663C;
}

/************* MODAL ***********/
.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/** MODAL STEP ONE **/
#step-one {
	display: none;
}
.modal-content {
	flex-direction: column;
	background-color: #FFFFFF;
	width: 90%;
	height: 90%;
	max-width: 630px;
	max-height: 688px;
	border-radius: 10px;
}

#step-one .modal-header {
	display: flex;
	justify-content: flex-end;
	margin: 32px 35px 13px 35px;
}
.modal-icon-close {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.modal-title {
	margin-bottom: 51px;
	text-align: center;
	color: #000000;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
}

.modal-gallery-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.modal-gallery-content {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(5, 77px);
  gap: 30px 8px;
}
.modal-gallery-content img {
	position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-gallery-content figure {
	position: relative;
}
.delete-btn {
	cursor: pointer;
	z-index: 1;
	position: absolute;
	top: 6px;
	right: 6px;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: 11px;
	padding: 3px 4px;
}

.dividing-line {
	border: none;
	height: 1px;
	width: 100%;
	margin: 66px auto 38px auto;
	background-color: #B3B3B3;
	max-width: calc(5 * 77px + 4 * 8px);
	min-height: 1px;
}

.btn-add-gallery {
	margin: 0 auto;
	max-width: 237px;
	width: 100%;
	max-height: 36px;
	height: 100%;
	background-color: #1D6154;
	color: #FFFFFF;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	font-weight: 700;
	font-family: syne;
	font-size: 14px;
	margin-bottom: 42px;
}

/** MODAL STEP TWO **/
#step-two {
	display: none;
}

#step-two .modal-header {
	display: flex;
	justify-content: space-between;
	margin: 32px 35px 13px 35px;
}
.modal-icon-back {
	border: none;
	background-color: transparent;
	display: inline-flex;
  align-self: flex-start;
	cursor: pointer;
	font-size: 18px;
}

#upload-form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin: 0 auto;
}
.form-group-header {
	height: 169px;
	width: 420px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 3px;
	margin-bottom: 30px;
}
.icon-placeholder {
	font-size: 68px;
	color: #B9C5CC;
}
.upload-text {
	cursor: pointer;
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	padding: 10px 30px;
	border: none;
}
input[type="file"] {
	display: none;
}
.upload-info {
	font-size: 10px;
	color: #444444;
	font-weight: 400;
}

.form-group-main {
	margin-bottom: 20px;
}
.form-group-main,
.form-group-footer {
	display: flex;
	flex-direction: column;
	gap: 11.5px;
}
.form-group-main input,
.select-wrapper {
	border: none;
	height: 51px;
	box-shadow: 0px 4px 14px 0px #00000017;
}
.select-wrapper {
	position: relative;
}
.form-group-footer select {
	cursor: pointer;
	appearance: none;
	width: 100%;
	height: 100%;
	padding: 0 20px ;
}
.chevron {
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #6C6C6C;
}

.btn-form-validate {
	margin: 0 auto;
	max-width: 237px;
	width: 100%;
	max-height: 36px;
	height: 26px;
	background-color: #A7A7A7;
	color: #FFFFFF;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	font-weight: 700;
	font-family: syne;
	font-size: 14px;
}