/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans';
	font-size: 14px;
}
section {
	margin: 50px 0;
}

/************* LINK ***********/
.link-page {
	text-decoration: none;
	color: black;
}
.link-page:visited {
	color: black;
}
.link-page:hover {
	color: #B1663C;
}

/************* HEADER ***********/
.header-container {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 48px auto 138px auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/************* NAV ***********/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 42px;
}
nav li {
	font-size: 1.2em;
}

.link-logo-insta img {
	width: 19px;
	height: auto;
}

#introduction {
	display: flex;
	align-items: center;
	gap: 4em;
	max-width: 952px;
	margin: 0 auto 138px auto;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 100%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin: 0 auto 0.9em auto;
	color: #3D3D3D;
}
#portfolio {
	max-width: 952px;
	margin: auto;
}
#portfolio h2 {
	text-align: center;
}

/************* FILTERS ***********/
#filters {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 32px 0 47px 0;
}

#filters button {
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	padding: 10px 26px;
}

#filters button:hover {
	background-color: #1D6154;
	color: #FFFEF8;
	cursor: pointer;
}

#filters button.active {
	background-color: #1D6154;
	color: #FFFEF8;
}

/************* GALLERY ***********/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.gallery figure figcaption {
	color: #3D3D3D;
}

/************* CONTACT ***********/
#contact {
	max-width: 379px;
	width: 50%;
	margin: 54px auto 0 auto;
}
#contact > * {
	text-align: center;
	color: #3D3D3D;

}
#contact h2{
	margin-bottom: 20px;
	color: #1D6154;
}
#contact form {
	margin: 0 auto;
	text-align: left;
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

#contact input[type="text"],
#contact input[type="email"] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"] {
	height: 36px;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
input[type="submit"]:hover {
	transition: background-color 0.3s ease;
	background-color: #0E2F28;
}

/************* FOOTER ***********/
footer {
	background-color: white;
}
footer nav {
	max-width: 1260px;
	margin: auto;
	padding: 22px 0;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
}
footer .link-page {
	font-size: 14px;
	font-weight: 300;
}


/************* ERROR MESSAGE ***********/
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
}


/************* ADMIN ***********/
/************* BANNER ***********/
.admin-banner {
	background-color: #000000;
	color: #FFFFFF;
	padding: 1.2rem 0;
}
.admin-banner-content {
	display: flex;
	justify-content: center;
	gap: 21px;
}
.admin-banner-content span {
	font-size: 16px;
	font-weight: 400;
}

/************* BUTTON-ADD ***********/
.portfolio-title-wrapper {
	display: flex;
	justify-content: center;
	gap: 21px;
}
.edit-button {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}